@model IEnumerable<WebApplication1.ModelsTest.Category>

@{
    ViewBag.Title = "Index";
}

@section Styles{
<link href="~/Content/category.css" rel="stylesheet" />
}


<h2 id="add-product">
    <a href="@Url.Action("Create","Category")">
        <img src="~/Images/new_button.png" />
    </a>
    @Html.ActionLink("Tạo mới", "Create")
</h2>

<div id="index-category">
    <table>
        <tr>
            <th>
                Tên loại
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>