@using Microsoft.AspNet.Identity
@model WebApplication1.ModelsTest.ManageUserViewModel

<p>Bạn đang đăng nhập với Username <strong>@User.Identity.GetUserName()</strong>.</p>

<div id="changePass-form">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h3>Thay đổi mật khẩu</h3>
        <hr />
                @Html.AntiForgeryToken()

        <div class="field">
            @Html.LabelFor(m => m.OldPassword)

            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.NewPassword)

            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="field">
            @Html.LabelFor(m => m.ConfirmPassword)

            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="form-group">
            <input type="submit" value="Đổi mật khẩu" class="btn-field" />
        </div>
    }
</div>
