@model WebApplication1.ModelsTest.ForgotPassViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Content/manage.css" rel="stylesheet" />
}

<div class="forgot-pass">
    @using (Html.BeginForm(Html.BeginForm()))
    {
        @Html.AntiForgeryToken()
        <h3>Quên mật khẩu</h3>
        <hr />
        @Html.ValidationSummary()

        <div class="field">
            @Html.LabelFor(m => m.UserName)

            @Html.EditorFor(m => m.UserName)

        </div>

        <div class="field">
            @Html.LabelFor(m => m.Email)

            @Html.EditorFor(m => m.Email)

        </div>
        <div class="field">
            @Html.LabelFor(m => m.NewPassword)

            @Html.PasswordFor(m => m.NewPassword)

        </div>
        <div class="field">
            @Html.LabelFor(m => m.ConfirmPassword)

            @Html.PasswordFor(m => m.ConfirmPassword)

        </div>

        <div class="form-group">
            <input type="submit" value="Đổi mật khẩu" class="btn-field" />
        </div>
    }
</div>
