@using WebApplication1.ModelsTest

<div id="cat-product" class="left-box">
    <div class="cat-head">Danh mục sản phẩm</div><!-- catogory title -->
    <div class="details">
        <ul class='cat-1'>
            @{
                var Categories = ViewBag.Categories as IEnumerable<Category>;
                var Publishers = ViewBag.Publishers as IEnumerable<Publisher>;
                var Products = ViewBag.Products as IEnumerable<Product>;

                foreach (var c in Categories)
                {
                    bool haschild = c.Products.Any(t => Publishers.Contains(t.Publisher));
                    <li class="has-child">
                        <a href='@Url.Action("Search","Product",new {Category=@c.Id})'>@c.Name</a>
                        <ul class="cat-2">
                            @foreach (var pub in Publishers)
                            {
                                if(pub.Products.Count>0)
                                { 
                                    <li>
                                        <a href='@Url.Action("Search", "Product", new { Category = @c.Id, Publisher=@pub.Id })'>@pub.Name</a>                                      
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }

        </ul>
    </div><!-- details -->
</div>
